/* GLOBAL STYLES */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  background-color: #3498db;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 1160px;
  height:100%;
  background-color: #fff;
}

/* Typography */
* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}



/* DASHBOARD STYLES */

#dashboard table {
  width: 100%;
  border-collapse: collapse;
  tr {text-align: center;}
  td {
    width: 16.6667%;
    border: solid 1px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    a:link, a:hover, a:focus, a:active, a:visited {
      color: #2980b9;
      text-decoration: none;
    }
    &.controls a:link, &.controls a:visited {
      display: inline;
      margin-right: 10px;
      text-decoration: none;
      color: #27ae60;
      transition: color .2s linear;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: #2ecc71;
      }
      &:nth-child(2) {
        color: #e74c3c;
        margin-right: 0;
        &:hover, &:active, &:focus {
          color: #c0392b;
        }
      }
    }
  }
}


/* LOGIN PAGE STYLES */

.form-container {
  width: 320px;
  position: absolute;
  top:25%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    display: block;
    margin: 0 auto;
    input {width: 100%;}
  }
}
